src/main/java/TransportServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://server.suai.com/" name="TransportServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://server.suai.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://server.suai.com/" schemaLocation="TransportServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="updateAvailability">
    <part name="parameters" element="tns:updateAvailability"/>
  </message>
  <message name="updateAvailabilityResponse">
    <part name="parameters" element="tns:updateAvailabilityResponse"/>
  </message>
  <message name="addTransport">
    <part name="parameters" element="tns:addTransport"/>
  </message>
  <message name="addTransportResponse">
    <part name="parameters" element="tns:addTransportResponse"/>
  </message>
  <message name="deleteTransport">
    <part name="parameters" element="tns:deleteTransport"/>
  </message>
  <message name="deleteTransportResponse">
    <part name="parameters" element="tns:deleteTransportResponse"/>
  </message>
  <message name="getAllTransports">
    <part name="parameters" element="tns:getAllTransports"/>
  </message>
  <message name="getAllTransportsResponse">
    <part name="parameters" element="tns:getAllTransportsResponse"/>
  </message>
  <portType name="TransportService">
    <operation name="updateAvailability">
      <input wsam:Action="http://server.suai.com/TransportService/updateAvailabilityRequest" message="tns:updateAvailability"/>
      <output wsam:Action="http://server.suai.com/TransportService/updateAvailabilityResponse" message="tns:updateAvailabilityResponse"/>
    </operation>
    <operation name="addTransport">
      <input wsam:Action="http://server.suai.com/TransportService/addTransportRequest" message="tns:addTransport"/>
      <output wsam:Action="http://server.suai.com/TransportService/addTransportResponse" message="tns:addTransportResponse"/>
    </operation>
    <operation name="deleteTransport">
      <input wsam:Action="http://server.suai.com/TransportService/deleteTransportRequest" message="tns:deleteTransport"/>
      <output wsam:Action="http://server.suai.com/TransportService/deleteTransportResponse" message="tns:deleteTransportResponse"/>
    </operation>
    <operation name="getAllTransports">
      <input wsam:Action="http://server.suai.com/TransportService/getAllTransportsRequest" message="tns:getAllTransports"/>
      <output wsam:Action="http://server.suai.com/TransportService/getAllTransportsResponse" message="tns:getAllTransportsResponse"/>
    </operation>
  </portType>
  <binding name="TransportServicePortBinding" type="tns:TransportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="updateAvailability">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addTransport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteTransport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllTransports">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TransportServiceService">
    <port name="TransportServicePort" binding="tns:TransportServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

